

@media screen and (max-width: 1199px) {
    .header .signin {
        padding: 10px 18px !important;
        margin-right: 6px;
        margin-top: 8px;
    }

    .header .nav-item {
        padding: 0px 4px;
    }

    .header .signup {
        margin-top: 8px;
    }

    .banner_content h3 {
        font-size: 33px;
    }

    .header .signup {
        padding: 10px 16px !important;
    }
}


@media screen and (max-width: 991px) {
    .banner {
        text-align: center;
    }

    .header .nav-link {
        font-size: 15px;
        color: #293241;
        font-weight: 500;
        padding: 12px 11px;
        display: block;
        transition: all 0.2s ease-in-out;
        border-bottom: 1px solid #f5f5f5;
    }

    .offcanvas_btn .btn {
        display: inline-block;
        padding: 11px 39px !important;
        border-radius: 50px !important;
        border: none !important;
    }

    .banner {
        padding-bottom: 45px;
    }
}

@media screen and (max-width: 767px) {
    .create_digital_card {
        text-align: center;
    }
    .pricing_sec .form-check.form-switch {
    margin-bottom: 11px;
}
}

@media screen and (max-width: 575px) {
    .banner_content h3 {
        font-size: 23px;
    }

    .banner_content p {
        font-size: 14px;
    }

    .about_content h3 {
        font-size: 22px;
    }

   
}

@media screen and (max-width: 500px) {
    .banner_content h3 {
        font-size: 25px;
    }

    .fixed_btn {
        position: fixed;
        bottom: 42px;
        display: none;
        right: 20px;
    }

    .about_content h3 {
        text-align: center;
    }

    .email_signture_article h2 {
        text-align: center;
        font-size: 25px;
    }

}
