@media screen and (max-width:991px) {
     .header .nav-link {
        padding: 8px 2px !important;
    }
    .mobile_menu .offcanvas-header {
        position: absolute;
        top: 0;
        right: 0;
        padding: 12px 16px 0px 0px;
    }

    .mobile_menu .offcanvas-header button{
        outline: none !important;
        box-shadow: none !important;
    }


    .mobile_menu.offcanvas {
        width: 300px !important;
        border: none !important;
    }
    .plan_type .switch-wrapper {
        width: 42%;
    }
}

@media screen and (max-width:767px) {
    .feature_wrapper .feature_name h3 {
        font-size: 20px;
    }
    .banner_content h2{
        font-size: 30px;
    }

    .copyright {
        margin-bottom: 8px;
    }
    .plan_type .switch-wrapper {
        width: 53%;
    }
}


@media screen and (max-width:575px) {
    .banner_content h2 {
        font-size: 29px;
        line-height: 42px;
    }
}



@media screen and (max-width:400px) {
    .banner_content h2 {
        font-size: 25px;
        line-height: 32px;
    }
    .plan_type .switch-wrapper {
        width: 83%;
    }
}
